[type='radio'] {
display: none; 
}

.btn-default {
	background-color: #efefef;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    max-height: 285px;
}

/* MEDIA QUERIES */
/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
    .btn {font-size:10px}
    .control-label {font-size:12px}
     h4 {font-size:14px}
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
    .btn {font-size:12px}
    .control-label {font-size:12px}
    h4 {font-size:16px}
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
    .btn {font-size:14px}
    .control-label {font-size:14px}
}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {
    .btn {font-size:14px}
    .control-label {font-size:14px}
}